<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.botian.zhedian">
    <!--    android:sharedUserId="android.uid.system"-->
    
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 唤醒屏幕-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--wifi权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE " />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 缓存案例到 sdcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 绑定设备的授权方式需要读取机器序列号 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 绑定设备的授权方式首次授权需要联网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.botian.zhedian.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.botian.zhedian.MainWebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--                <activity-->
        <!--                    android:name=".MainWebViewActivity"-->
        <!--                    android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->
        <!--                    <intent-filter>-->
        <!--                        <action android:name="android.intent.action.MAIN" />-->
        <!--                        <category android:name="android.intent.category.LAUNCHER" />-->
        <!--                    </intent-filter>-->
        <!--                </activity>-->

        <activity
            android:name="com.botian.zhedian.activity.CameraPhotoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.botian.zhedian.activity.OpenDevManListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.botian.zhedian.activity.CloseDevManListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.botian.zhedian.activity.WebUrlActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.botian.zhedian.activity.ReportListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.botian.zhedian.activity.DeviceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        

        <!--其他的配置项-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.botian.zhedian.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest>